/*General styles*/

html {
    font-size: 100%;
}

body {
    font-family: 'Lato';
    margin: 0;
    padding: 0;
}

h1 {
  margin: 5px;
  padding: 5px;
  color: #4A4A4A;
}

/*Sidebar*/
.new-room-button {
  margin: 10px;
  padding: 5px;
  display: inline-block;
}

.sidebar {
    float: left;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 100%;
    background-color: #DEDEDE;
}

.room-list li {
    list-style-type: none;
    margin: 5px;
    color: #9A9B9C;
}

/*Chatroom Section*/

.chatroom-section{
  float: right;
  width: 75%;
  margin: 5px;
  padding: 25px;
  border: 1px solid #9A9B9C;
  border-radius: 5px;
}
