/*General styles*/

html {
    font-size: 100%;
}

body {
    font-family: 'Lato';
}

h1 {
  display: inline-block;
  padding: 15px 0 15px 0;
  margin-left: 15px;
}

/*Sidebar*/
.new-room-button {
  float: right;
  font-size: 10px;
  margin: 30px 25px 20px 10px;
  padding: 2px 5px 2px 5px;
  display: inline-block;

}

.sidebar {
    float: left;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 100%;
    background-color: #DEDEDE;
}

.room-list li {
    list-style-type: none;
    margin: 5px;
    padding: 3px;
    color: #9A9B9C;
}

/*Chatroom Section*/

.chatroom-section {
  float: right;
  width: 75%;
  margin: 5px;
  padding: 5px 25px;
}


.message-list {
  list-style: none;
  background-color: #F6F7FB;
}

.timestamp {
  text-align: right;
  color: #C7CCD0;
}

.username {
  font-weight: bold;
}
