/*General styles*/

* {
  box-sizing: border-box;
}

html {
    font-size: 100%;
}

/*Sidebar*/

.sidebar h1 {
  font-size: 34px;
  display: inline-block;
  margin: 25px 0 25px 30px;
}

.sidebar {
    position: absolute;
    float: left;
    width: 25%;
    height: 100%;
    background-color: #DEDEDE;
}

#new-room-button {
  float: right;
  margin: 30px 25px 20px 10px;
  display: inline-block;
}

.room-list li {
    list-style-type: none;
    margin: 5px;
    padding: 3px;
    color: #9A9B9C;
}

/*Chatroom Section*/

.chatroom-section h2 {
  padding-left: 27px;
}

.chatroom-section {
  float: right;
  width: 75%;
}

.message-list {
  list-style: none;
  margin-left: 0;
  padding: 12px;
  background-color: #FFFFFF;
}

ul.message-list {
  margin: 0;
}

.message-list li {
  padding: 0 20px 0 20px;
}
.message-list:nth-child(2n) {
  background-color: #F6F7FB;
}


.timestamp {
  float: right;
  color: #C7CCD0;
}

.username {
  font-weight: bold;
}

/* New Message Form  */

.new-message {
  padding: 25px;
  width: 100%;
}

/* form {
  display: inline-block;
  width: 90%;
} */

form input {
  width: 90%;
}

.send-message-button {
  float: right;
  width: 8%;
}
