<section class="sidebar">
  <h1> Bloc Chat

    <!-- New room button -->
    <!-- Need to reference ModalCtrl here because it is listening for a click on the 'New room' button.  -->
    <!-- When the 'New room' button is clicked, ModalCtrl calls the open() method on ModalCtrl which uses $uibModal services open() method to open the actual modal view (modal.html) -->
    <span class="btn-default>"
      <div ng-controller='ModalCtrl as modals'>
        <button type="button" ng-click="modals.open()">New room</button>
      </div>
    </span>
  </h1>


  <!-- List of rooms -->
  <div>
    <ul class="room-list" ng-repeat="room in home.room">
      <li>{{ room.$value }}</li>
    </ul>
  </div>
</section>
