<!-- This is the modal that pops up when the app loads (per the run() block in BlocChatCookies.js) that promts a user to enter a username, then stores that username in a cookie and closes the modal.  -->
<div>
  <div class="modal-header">
    <h2 class="modal-title">Bloc Chat Login</h2>
  </div>
  <div class="modal-body">
    <p>Enter a username</p>
    <form name="require-username" ng-submit="login.ok(login.username)">
      <input class="form-control" ng-model="login.username" title="username" placeholder="username" autofocus />
      <h3>{{login.username}}
    </form>
  </div>
  <div class="modal-footer">
    <!-- When this 'submit' button is clicked within this modal, the ok() method is triggered in the LoginCtrl - which will write and store the username in a cookie and close the modal. -->
    <button class="btn btn-primary" type="button" ng-click="login.ok(login.username)">Submit</button>
  </div>
</div>
