<!-- This is the modal that pops up when the app loads (per the run() block in BlocChatCookies.js) that promts a user to enter a username, then stores that username in a cookie and closes the modal.  -->
<div>
  <div class="modal-header">
    <h2 class="modal-title">Welcome to Bloc Chat!</h2>
  </div>
  <div class="modal-body">
    <p>Log in</p>
    <form name="require-username" ng-submit="login.ok(login.username)">
      <input class="form-control" ng-model="login.username" title="username" placeholder="username" autofocus />
      <input class="form-control" ng-model="login.password" title="password" placeholder="password" autofocus />
    </form>
  </div>
  <div class="modal-footer">
    <!-- When this 'submit' button is clicked within this modal, the ok() method is triggered in the LoginCtrl - which will write and store the username in a cookie and close the modal. -->
      <span class="sign-up-link"><a ui-sref="signup">New to Bloc Chat? Create an account!</a></span>
    <button class="btn btn-primary" type="button" ng-click="login.ok(login.username)" ng-disabled="!login.username">Submit</button>
  </div>
</div>
