<!-- This template (modal.html) is connected to the ModalInstanceCtrl.
When the cancel button is clicked within this modal, the cancel() method is triggered in the ModalInstanceCtrl. -->
<div>
  <div class="modal-header">
    <h2 class="modal-title">Modal Title</h2>
  </div>
    <div class="modal-body">
      <p>This is a modal body.</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" type="button" ng-click="modalInstance.cancel()">Cancel</button>
    </div>
</div>
